article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

/*简单reset*/
* {
    margin: 0;
    padding: 0;
}
/*必须，关系到单个page能否全屏显示*/
html,
body {
    height: 100%;
    overflow: hidden;
}
#container,
.sections,
.section {
    /*必须，兼容，在浏览器不支持transform属性时，通过改变top/left完成滑动动画*/
    position: relative;
    /*必须，关系到单个page能否全屏显示*/
    height: 100%;
}
.section {
    /*有背景图时必须，关系到背景图能够全屏显示*/
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
}
/*非必需，只是用来设置背景图，id不会被插件用到*/
#section0 {
    background-image: url(../img/homepage/page1.jpg);
}
#section1 {
    background-image: url(../img/homepage/page2.jpg);
}
#section2 {
    background-image: url(../img/homepage/page3.jpg);
}
#section3 {
    background-image: url(../img/homepage/page4.jpg);
}
#section4 {
    background-image: url(../img/homepage/page5.jpg);
}
/*以下样式用来设置slider样式，可自行修改*/
.pages {
    position:fixed;
    right: 10px;
    top: 50%;
    list-style: none;
}
.pages li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    margin: 15px 0 0 7px;
}
.pages li.active {
    margin-left: 0;
    width: 14px;
    height: 14px;
    border: 4px solid #FFFFFF;
    background: none;
}

.gofa{
    text-align: center;
}
.gohome{
/* margin-top: 112px;
  margin-bottom: 65px; */
  background-color: #9d7949;
  font-size:3ch;
  font-weight: 1000;
  text-align: center;
  color: #FFF;
  border-radius: 40px;
  border: none;
  width: 210px;
  height: 80px;
}